:root {
  --color-primary: #000000;
  --color-gray: #5c5c5c;
  --color-light-gray: #ebebeb;
  --color-footer-text: #adb3b8;
  --shadow-black: #00000009;
  --shadow-black-light: #0000000e;
  --color-dark-blue: #223645;
  --color-light-blue: #ebf5f5;
  --color-light-orange: #fff3e9;
  --color-text-gray: rgb(124, 124, 124);
}

.loader {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
li {
  color: black;
  text-decoration: none;
  list-style: none;
}

button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.primary-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 20px;
  cursor: pointer;
}

.secondary-button {
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
  border: none;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 20px;
  cursor: pointer;
}

.section-heading {
  font-weight: 400;
  letter-spacing: 2px;

  color: var(--color-gray);
  font-size: 1.4rem;
}

.section-title {
  font-size: 2.3em;
  color: var(--color-dark-blue);
}

.section-content {
  color: var(--color-gray);
  font-size: 1.5rem;
  font-weight: 400;
}
